.container {
  display: table;
  border-spacing: 10px;

  @media (max-width: 767px) {
    width: 100%;
    display: block;
  }
}

.card {
  display: table-cell;
  width: 33.333%;
  border: 1px solid black;
  padding: 10px;

  @media (max-width: 767px) {
    display: block;
    width: 100%;
    box-sizing: border-box;

    ul {
      min-height: auto !important;
    }

    &:not(:last-child) {
      margin-bottom: 10px
    }
  }
}